<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

</head>
<body style="background-image:url('/img/background.jpg'); -moz-background-size: cover; -o-background-size: cover; background-size: cover; width: 100%; height:auto; background-attachment: fixed">


<nav class="navbar navbar-expand-lg navbar-light bg-dark" Style="display:block; height:50px">
  <a href="index.html" class="btn btn-info float-left text-light">Home</a>
  <a href="userGuide/userGuide.html" class="btn btn-info float-right text-light">Help</a>
</nav>

<div id="list" class="row"></div>

<div id="loading" data-backdrop='static' class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content  bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title" style="margin:auto" >Creating backups</h5>
      </div>
      <div class="modal-body bg-dark">
        <img src="/img/Loadingring.gif" align="center" style="margin:auto; display:block">
      </div>
      </div>
    </div>
  </div>
</div>



<div class="row">

  <div class="card col-sm-3 bg-dark" style="width: 45%; margin:1em auto">
    <img class="card-img-top" src="/img/Save.jpg" alt="Card image cap">
      <div class="card-body">
        <h5  style="padding-bottom:1em" class="card-title text-light">Make zipped backups</h5>
          <button id="nosteam" class="btn btn-primary btn-lg" style="margin:2em auto; display:block" type="submit">No steam</button>
          <div align="center">
            <button id="backup" class="btn btn-primary btn-lg" style="margin:1em auto;" type="submit">Create Zip file</button>
            <button id="addtozip" class="btn btn-primary btn-lg" style="margin:1em auto;" type="submit">Add to zip file</button>
          </div>
      </div>
  </div>

  <div id="SteamLogin" class="card col-sm-4 bg-dark" style="width: 70%; margin:1em auto">
    <img class="card-img-top" style="margin:2em auto" src="/img/Steam.png" alt="Card image cap">
      <div class="card-body text-light">
        <h5 class="card-title text-light">Search Steam Cloud saves</h5>
          <input class="text-dark" type="text" id="userid" style="width: 60%; margin:1em auto"><a href=""></a></input>
            <a href="/userGuide/help.html" style="margin:1em auto; display:block">How to find Steam ID</a>
              <button id="checkid" class="btn btn-primary btn-lg" style="margin:1em auto" type ="submit">Check user ID</button>
              <button id="cached_id" class="btn btn-primary btn-lg" style="margin:1em auto" type="submit">Use Cached ID</button>
      </div>
  </div>

</div>


<script src="/js/lodash/lodash.js"></script>

<script src="/js/Jquery/jquery-3.3.1.js"></script>

<script type="text/javascript" src="/eel.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/js/add_to_html.js"></script>

</body>
</html>
