{% extends "base.html" %}


{% block content %}


  <div class="row m-5">

    <div class="col-3 card m-auto" style="width: 18rem;">
      <img class="card-img-top" src="{{ url_for('images', filename='Save.jpg')}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Search for unsynced games</h5>
        <p class="card-text">This will search for saves that are not synced to steam <a href="#">Learn more</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="col-3 card m-auto" style="width: 18rem;">
      <img class="card-img-top" src="{{ url_for('images', filename='Steam.png')}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Search for steam synced games</h5>
        <p class="card-text">This will search for saves that are synced to steam <a href="#">Learn more</a></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>


{% endblock %}
